.navbar{
position: fixed;
top: 0;
left: 260px; 
width: calc(100% - 240px); 
height: 80px;
display: flex;
justify-content: flex-end; 
align-items: center;
background-color: #f2f1f1;
}

.right-content {
display: flex;
align-items: center;
margin: 0 60px;
}

.mode-text, .welcome-text {
    margin: 0 7px; 
    font-size:12px; 
    font-weight: 900;
    color: black; 
}

.welcome{
margin: 0 30px;
}

.moon-icon{
width: 24px; 
height: 24px; 
fill: black; 
margin-left: 1px; 
border-radius: 35px;
}
.profile-icon {
width: 40px;
height: 40px;
fill: black; 
margin-left:0.75px;
border-radius: 35px;
}

/*darkMode*/
.dark-mode-text {
    color: white;
}
.dark-mode {
    background-color: #231F20;
    
}