.sidebar {
    background-color: #F2F1F1;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 20px;
}

.logo {
    text-align: start;
}

.menu {
    margin-top: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.menu-item:hover {
    background-color: #e2dcc8;
}

.menu-item:hover p {
    margin-left: 5px;
}

.menu-item a, p {
    color: #231f20; 
    text-decoration: none; 
    font-weight: bold; 
    display: flex; 
    align-items: center; 
} 

/* Move logout link to the bottom */
.menu-item:last-child {
    margin-top: auto;
}
