.sidebar { 
    width: 260px;
    background-color: #f2f1f1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

.logo {
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
}

.menu {
    margin-top: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 44px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}
.menu-item:hover p {
    margin-left: 8px;
    color:#231f20d5;
}

.menu-item a, p {
    text-decoration: none; 
    font-weight:bold; 
    font-size: 17px;
    display: flex; 
    align-items: center; 
} 

/* Move logout link to the bottom */
.menu-item:last-child {
    margin-top: auto;
}

/* Dark mode styles */
.dark-mode.sidebar {
    background-color: #231F20;
    color: white;
}

.dark-mode .sidebar .menu-item:hover {
    background-color: #000000;
}

.dark-mode .sidebar .menu-item a {
    color: white;
}

.dark-mode .sidebar .menu-item a p {
    color: white;
}
.dark-mode .sidebar .logout {
    border-top: 1px solid #555;
}
.dark-mode .sidebar .logout span {
    color: white;
}
.dark-mode .sidebar .menu-item p {
    color: white;
}
.dark-mode.menu-item svg {
    filter: invert(1);
}
.dark-mode .sidebar {
    background-color: #231F20;
    color: white;
}
.dark-mode.sidebar .menu-item a,
.dark-mode.sidebar .menu-item p {
    color: white;
}
.dark-mode.menu-item img {
    filter: invert(1);
    fill: #ffffff;
}
.dark-mode .menu-item:hover p {
    margin-left: 8px;
    color:rgba(255, 255, 255, 0.884);
}
.dark-mode .menu-item:hover p {
    margin-left: 8px;
    color:#ED7F16
}

