.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  direction: rtl;
}

.popup {
  background-color: #E2DCC8; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  position: relative;
}

.cancelIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width:22px;
  height:25px ;
}

.popup h2 {
  margin-top: 0;
  color: #231F20;
  margin-bottom: 20px;
  direction: ltr;
}

.plateNumberContainer {
  display: flex;
}
.input {
  border: 2px solid #E2DCC8;
  background-color: #F2F1F1;
  color: #231F20;
  padding: 10px; 
  width: 35px;
  height: 40px; 
  box-sizing: border-box;
  border-radius: 7px;
  margin-right: 5px;
  margin-top: 10px;
}

.plateNumberContainer {
  display: flex;
  align-items: center; 
}

.input {
  text-align: end; 
}

.addInput {
  
}

.errorMsg {
  color: red;
  margin-top: 10px;
  direction: ltr;
}


.addButton {
  padding: 10px 20px; 
  background-color: #231F20; 
  color: #F2F1F1; 
  border: none;
  border-radius: 5px;
  margin-right: 100px;
  margin-left: auto; 
  margin-top: 20px; 
  font-size: 17px; 
  font-weight: bold;
}


.darkMode .popup {
  background-color: #000000; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.darkMode .popup h2 {
  margin-top: 0;
  color: #ffffff;
  margin-bottom: 20px;
}

.darkMode .input {
  border: 1px solid #8C8671;
  background-color: #000000;
  color: #ffffff;
}

.darkMode .addButton {
  background-color: #8C8671; 
  color: #F2F1F1; 
}

.darkMode .addButton:hover {
  background-color: #6c6651; 
}