.SystemAdminEmployeeTable {
   margin-top: 1rem;
   width: 100% !important;
 }

 .SystemAdminEmployeeTable h2 {
   margin-bottom: 0.8rem;
 }

 .SystemAdminEmployeeTable {
   background-color: var(--table-color);
   width: 100%;
   padding: var(--card-padding);
   text-align: center;
   box-shadow: var(--box-shadow);
   border-radius: var(--card-border-radius);
   transition: all 0.3s ease;
   /* this is a table */
 }

 .SystemAdminEmployeeTable:hover {
   box-shadow: none;
 }
.SystemAdminEmployeeTable thead{
  height: 50px;
}
 .SystemAdminEmployeeTable tbody tr {
   border-bottom: 1px solid var(--font-color);
 }

 .SystemAdminEmployeeTable tbody td {
   height: 2.8rem;
   color: var(--font-color);
 }

 .SystemAdminEmployeeTable tbody td:last-child {
   width: 2%;
 }

 .SystemAdminEmployeeTable tbody tr:last-child td {
   border: none;
 }

 .SystemAdminEmployeeTable a {
   text-align: center;
   display: block;
   margin: 1rem auto;
   color: var(--font-color);
 }

 .SystemAdminEmployeeTable tbody tr td {
   transition: all 0.3s ease;
 }

 .SystemAdminEmployeeTable tbody tr {
   transition: all 0.3s ease;

 }


 .employeeDetails:hover {
   background-color: var(--color-background);
 }

 /* for the dropdownnn */

 .employeeDetails {
   position: relative;
   border-radius: var(--button-border-radius);
 }
[theme = dark] .employeeDetails img{
  filter: invert(1)
}
 .expandIcon {
   cursor: pointer;
 }

 .dropdownMenu {
   position: absolute;
   top: 100%;
   left: -2vw;
   display: flex;
   flex-direction: column;
   background-color: var(--color-background);
   border-radius: var(--button-border-radius);
   border: 1px solid #00000020;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 1;
   opacity: 0;
   transform: scaleY(0);
   transform-origin: top;
   transition: all 0.3s ease-in-out;
 }

 .employeeDetails:hover .dropdownMenu,
 .employeeDetails.active .dropdownMenu {
   opacity: 1;
   transform: scaleY(1);
 }


 .dropdownMenu hr {
   border: 1px solid #00000020;
   margin: 0 6.8px;
 }


 .dropdownButton {
   padding: 8px;
   text-align: left;
   border: none;
   background-color: transparent;
   color: var(--font-color);
   cursor: pointer;
   border-radius: var(--button-border-radius);
   transition: background-color 0.3s ease;
  }

[theme = dark]  .dropdownButton{
  color: var(--font-color);
}
 [theme = dark]  .dropdownButton:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

 .dropdownButton:hover {
   background-color: rgba(0, 0, 0, 0.1);
 }

 /* Styles for the delete model */
 .deleteConfirmation {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   z-index: 1000;
   display: flex;
   flex-direction: column;
   background-color: var(--color-background);
   height: 15vh;
   min-width: 455.25px;
   width: 25vw;
 }

 .deleteConfirmation .deleteTitle {
   width: 100%;
   height: 15%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   background-color: var(--special-color1);
 }

 .deleteConfirmation .deleteContent {
   padding: 20px;
   display: flex;
   background-color: var(--secondary-color);
   height: 85%;
   justify-content: space-between;
 }

 .deleteConfirmation img {
   align-self: center;
   height: 50%;
   width: 10%;
   transform: translateY(-16px);
 }
[theme = dark] .deleteConfirmation img {
filter:invert(1)
}
 .deleteConfirmation p {
   margin-bottom: 15px;
   align-self: center;
 }

 .deleteConfirmation button {
   margin-right: 10px;
   padding: 8px 12px;
   background-color: transparent;
   color: var(--high-light);
   border: none;
   border-radius: 3px;
   cursor: pointer;
   align-self: flex-end;
 }

 .deleteConfirmation button:last-child {
   color: var(--font-color);
 }

 .deleteConfirmation button:hover {
   cursor: pointer;
 }

 /* Backdrop effect */
 body.deleteModalActive {
   overflow: hidden;
   /* Prevent scrolling when the modal is active */
 }

 body.deleteModalActive::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   z-index: 999;
   user-select: none;
 }

 /* styles for the edit model */

 .editModal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   z-index: 1000;
   display: flex;
   flex-direction: column;
   border-radius: .7rem;
   background-color: var(--secondary-color);
   height: 50vh;
   min-width: 420px;
   width: 25vw;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   transition: all 0.3s ease;
 }

 [theme = dark]  .editModal {
  background-color: var(--color-background);
 }

 .editModal .editTitle{
  width: 100%;
  height: 8%;
  background-color: var(--special-color1);
}

.editModal .editTitle button{
background-color: transparent;
}

.editModal .editTitle img{
width:30px;
height: 30px;
margin: 4px;
cursor: pointer;
}


 .editModal form {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   padding-bottom: 15px;

 }

 .editModal form label {
   display: flex;
   justify-content: center;
 }

 .editModal form input {
   width: 60%;
   align-self: center;
   margin-top: 10px;
   height: 20px;
   padding: var(--card-padding);
   border-radius: 5px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   transition: all 0.5s ease;
 }
 [theme = dark]  .editModal form input {
  background-color: var(--.SystemAdminEmployeeTable-color);
  color: var(--font-color);

 }

 .editModal form input:hover {
   box-shadow: none;
 }

 .editModal form select {
  width: 60%;
  align-self: center;
  height: 35px;
  margin-top: 10px;
  padding: 0.5rem;
  border-radius: 5px;
  border:1px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

[theme = dark]  .editModal form select {
  background-color: var(--.SystemAdminEmployeeTable-color);
  color: var(--font-color);
  color-scheme: dark;
}

.editModal form select:hover {
  box-shadow: none;
}

.editModal form select option {
  width: 60%;
  align-self: center;
  height: 20px;
  padding: var(--card-padding);
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

[theme = dark] .editModal form select option:hover {
  background-color: var(--color-background);
}

 .editModal form button {
   min-width: 50px;
   width: 7vw;
   min-height: max-content;
   height: 40px;
   border-radius: var(--button-border-radius);
   background-color: #000;
   position: relative;
   bottom:10px;
   color: var(--secondary-color);
   transition: all 0.3s ease;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   cursor: pointer;
   min-width: 113px;
 }

 
[theme = dark]  .editModal form button{
  background-color: var(--special-color1);
  color: var(--color-background);
}
 .editModal form button:hover {
   box-shadow: none;
 }



 .editModal form .editModelButtons {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
 }


 body.EditModalActive::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   z-index: 999;
   user-select: none;
 }

 /* view */

 .viewModal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   z-index: 1000;
   display: flex;
   border-radius: .5rem;
   flex-direction: column;
   background-color: var(--secondary-color);
   height: auto;
   min-width:404px;
   width: 25vw;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   transition: all 0.3s ease;
  }
[theme = dark]  .viewModal {
  background-color: var(--color-background);
}
 .viewModal .viewTitle {
   width: 100%;
   height: 8%;
   background-color: var(--special-color1);
 }

 .viewModal .modalContent {
   padding: var(--card-padding);
   height: 92%;

 }

 .viewModal .modalMain {
   display: flex;
   height: 30%;
 }
 .viewModal .modalMain img{
  margin-right: .6rem;
  margin-bottom: .6rem;
 }
 [theme = dark] .viewModal .modalMain img{
  filter: invert(1);
 }

 .viewModal .modalMain .name{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

 /* For complaints */

 .viewModal .modalComplaintMain {
  display: flex;
  height: 60%;
}

[theme = dark] .viewModal .modalComplaintMain img{
 filter: invert(1);
}

.viewModal .modalComplaintMain .name{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}
/*----------------------------------*/

 .viewModal hr {
   border: 1px solid #00000080;
   margin: 0 6.8px;
 }
 .viewModal .modalDetails{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  justify-content: space-evenly;
  margin-top: .5rem;
 }
 .viewModal .modalDetails button{
  min-width: 50px;
  min-width: 80px;
  width: 5vw;
  min-height: max-content;
  height: 30px;
  justify-self: end;
  align-self: flex-end;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--font-color);
  box-shadow: var(--box-shadow);
  transition:all 0.3s ease;
 }
 .viewModal .modalDetails button:hover{
  box-shadow: none;
 }
/* for Complaints */
 .viewModal .modalComplaintsDetails{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  justify-content: space-evenly;
  margin-top: .5rem;
 }
 .viewModal .modalComplaintsDetails img{
  width:30px;
height: 30px;
  margin-right: .6rem;
  margin-bottom: .6rem;
 }
 .viewModal .modalComplaintsDetails button{
  min-width: 50px;
  min-width: 80px;
  margin:5px;
  width: 5vw;
  min-height: max-content;
  height: 30px;
  justify-self: end;
  align-self: flex-end;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--font-color);
  box-shadow: var(--box-shadow);
  transition:all 0.3s ease;
 }

[theme = dark]  .viewModal .modalComplaintsDetails button{
 background-color: var(--secondary-color);
 color: white;
 }

 .viewModal .modalComplaintsDetails button:hover{
  box-shadow: none;
 }

/*---------------------------------*/
 body.viewModalActive::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   z-index: 999;
   user-select: none;
 }
 