:root{
    /* light-mode colors */
    --color-background:#F2F1F1;
    --secondary-color:#E2DCC8;
    --font-color:#000000;
    --high-light:#ED7F16;
    --special-color1:#8C8671;
    --table-color:#ffffff;

    /* indenting */
    --card-border-radius:0.9rem;
    --card-padding:1.2rem;
    --letter-spacing:-0.00875rem;
    --button-border-radius:0.6875rem;
    /* ------------------------------------------------ */
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}
[theme = dark] {
    --color-background:#231F20;
    --secondary-color:#000000;
    --font-color:#F2F1F1;
    --high-light:#ED7F16;
    --special-color1:#8C8671;
    --table-color:#000;
}
