
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  overflow: hidden;
  color: var(--font-color);
  background-color: var(--color-background);
}
.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 15rem auto;
}
aside {
  height: 100vh;
}
aside .toggle {
  height: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 1.4vh;
  align-items: flex-end;
  user-select: none;
}
aside .toggle h2 {
  align-self: flex-end;
}
aside .toggle .logo {
  display: flex;
  gap: 0.5rem;
  margin-left: 1.5rem;
}
aside .toggle .logo img {
  width: 4rem;
  height: 4rem;
}
aside .toggle .close {
  padding-right: 1rem;
  display: none;
}
aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  border-radius: 15px;
  height: 88vh;
  position: relative;
  top: 1.5rem;
  transition: all 0.3s ease;
  align-items: flex-start;
}

aside .sidebar button {
  display: flex;
  margin: var(--card-padding);
  background-color: transparent;
  padding: 0.8rem;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  height: 3.7rem;
  border-radius: var(--button-border-radius);
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: background-color 0.4s ease;
}

aside .sidebar button:hover{
  box-shadow: none;
}

/* to highlight a specific button */
.sidebarButtonIsActive{
  background-color: var(--secondary-color) !important;
  box-shadow: var(--box-shadow) !important;
}



aside .sidebar button img {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

[theme = dark] aside .sidebar button img{
  filter: invert(1)
}

aside .sidebar button:last-child {
  position: absolute;
  bottom: 2rem;
  margin-bottom: 0;
}
 /* wowowowowo how to throw the logout to the end of the list */
aside .sidebar button.active {
  width: 100%;
  color: white;
  background-color: var(--secondary-color);
  margin-left: 0;
}

aside .sidebar button.active::before {
  content: "";
  width: 6px;
  height: 18px;
  background-color: var(--secondary-color);
}

aside .sidebar button.active img {
  margin-left: calc(1rem - 3px);
}
aside .sidebar button:hover {
  color: var(--special-color1);
}
[theme = dark] aside .sidebar button:hover {
  color: var(--high-light);
}
aside .sidebar button:hover img {
  margin-left: 0.6rem;
}
aside .sidebar .message-count {
  background-color: var(--color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

.themeSwitchContainer { 
  display: flex; 
  align-items: center; 
} 

.themeSlider { 
  display: inline-block; 
  height: 34px; 
  position: relative; 
  width: 60px; 
} 

.themeSlider input { 
  display: none; 
} 

.slider { 
  background-color: #ccc; 
  bottom: 0; 
  cursor: pointer; 
  left: 0; 
  position: absolute; 
  right: 0; 
  top: 0; 
  transition: .4s; 
} 

.slider:before { 
  background-color: #fff; 
  background-image: url(../assets/darkmode-icon.svg);
  bottom: 4px; 
  content: ""; 
  height: 26px; 
  left: 4px; 
  position: absolute; 
  transition: .4s; 
  width: 26px; 
} 

input:checked+.slider { 
  background-color: var(--high-light); 
} 

input:checked+.slider:before { 
  transform: translateX(26px); 
} 

.slider.round { 
  border-radius: 34px; 
} 

.slider.round:before { 
  border-radius: 50%; 
}

main .rightSide {
  display: flex;
  flex-direction: column;
  margin-top: 1.4vh;
  transition: all 0.3 ease;
  gap: 2rem;
}

main .rightSide .Header {
  display: flex;
  height: 10vh;
  align-items: flex-end;
  justify-content: flex-end;
  transition: all 0.3 ease;
}
main .rightSide .Header .searchBar {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .rightSide .Header input {
  width: 80%;
  height: 40%;
  align-self: center;
  border-radius: 70rem;
  padding: 1rem;
  position: relative;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  font-size: 15px;
}
[theme = dark] main .rightSide .Header input {
  color:white
}
main .rightSide .Header input:hover{
  box-shadow: none;
}


main .rightSide .Header img {
  position: relative;
  right: 2.2rem;
  bottom:0.01rem;
  font-size: large;
}

[theme = dark] main .rightSide .Header img {
filter: invert(1);
}

main .rightSide .Header .Theme {
  height: 100%;
  width: 20%;
  position: relative;
  display:flex ;
  justify-content: flex-end;
  align-items: center;
}
main .rightSide .Header .Welcome {
  height: 100%;
  width: 20%;
  position: relative;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .rightSide .content{
  height: 90vh;
}

body.addModalActive::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
  -webkit-user-select: none;
}