.Select-value-label, .Select-option {
    white-space: pre-wrap;
  }

  .lp-copy-sel__option, .lp-copy-sel__single-value {
    white-space: pre-wrap !important;
  }
  .lp-copy-sel__value-container {
    height: 5em; /* Adjust as needed */
  }
  [theme = dark] .css-1dimb5e-singleValue{
    color:var(--font-color)
  }