@import "./main.css";


.GarageStatistics .date {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items:baseline;
}

.GarageStatistics .dateItems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.GarageStatistics label {
    background-color: var(--color-background);
    font-weight: bold;
    font-size: large;
    width: 125px;
    height: 100%;
    margin-bottom: 0;
}

.GarageStatistics input {
    background-color: var(--color-background);
    font-weight: bold;
    font-size: large;
    width: 125px;
    height: 100%;

}

.GarageStatistics p{
    font-size: 13px;
}
.GarageStatistics span{
    color:#6b0101;
}
[theme=dark] .GarageStatistics input {
    background-color: var(--color-background);
    color-scheme: dark;
    font-weight: bold;
}


.GarageStatistics .statisticsContents {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    height: 30vh;
}

.card {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    background-color: var(--secondary-color);
    overflow: visible;
    padding: var(--card-padding);
    min-width: 230px;
    width: auto;
    min-height: 50%;
    height: auto;
    color: var(--font-color);
    border-radius: var(--card-border-radius);
    border: 1px solid rgba(105, 105, 105, 0.25);
    box-shadow: 0px 4px 4px rgba(105, 105, 105, 0.25);
    margin: 5px;
    line-height: 1rem;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    filter: none;
    box-shadow: none;
}

.cardTitle {
    display: flex;
    justify-content: space-between;
}

.card small {
    display: inline-flex;
    justify-content: flex-start;
    line-height: -1;
}

.card img {
    align-self: flex-end;
    width: 1.5 rem;
    height: 1.5rem;
}
[theme=dark] .card{
    border: 1px solid var(--high-light);

}
[theme=dark] .card img {
    filter: invert(1);
}

.card h4 {
    font-size: 20px;
    align-self: flex-end;
}


.StatisticsCard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items:baseline;
    background-color: var(--secondary-color);
    overflow: visible;
    padding: var(--card-padding);
    min-width: 230px;
    width: 35%;
    height: fit-content;
    color: var(--font-color);
    border-radius: var(--card-border-radius);
    border: 1px solid rgba(105, 105, 105, 0.25);
    box-shadow: 0px 4px 4px rgba(105, 105, 105, 0.25);
    margin: 5px;
    line-height: 1rem;
    transition: all 0.3s ease-in-out;
}
.StatisticsTable{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items:baseline;
    background-color: var(--secondary-color);
    overflow: visible;
    padding: var(--card-padding);
    min-width: 230px;
    width: auto;
    height: fit-content;
    color: var(--font-color);
    border-radius: var(--card-border-radius);
    border: 1px solid rgba(105, 105, 105, 0.25);
    box-shadow: 0px 4px 4px rgba(105, 105, 105, 0.25);
    margin: 5px;
    line-height: 1rem;
    transition: all 0.3s ease-in-out;
}

.StatisticsCard:hover {
    filter: none;
    box-shadow: none;
}
.StatisticsTable:hover{
    filter: none;
    box-shadow: none;
}

.StatisticsCardContent{
    margin: 5px;
     width: 100%;
}

.StatisticsCard h6{
    text-align: center;
    width: 100%;
}