:root{
    /* light-mode colors */
    --color-background:#F2F1F1;
    --secondary-color:#E2DCC8;
    --font-color:#000000;
    --high-light:#ED7F16;
    --special-color1:#8C8671;
    --table-color:#ffffff;
    --hover-effect-color:rgb(235, 232, 232);
    --input-background-color:#F2F1F1;
    
    /* indenting */
    --card-border-radius:0.3rem;
    --card-padding:1.2rem;
    --letter-spacing:-0.00875rem;
    --button-border-radius:0.6875rem;
    /* ------------------------------------------------ */
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    /* statistics colors */
        /* column-chart */
        --color1:#aaf0d1;
        --color2:#ff7f0e;
        --color3:#2ca02c;



}
[theme = dark] {
    --color-background:#231F20;
    --secondary-color:#000000;
    --font-color:#F2F1F1;
    --high-light:#ED7F16;
    --special-color1:#8C8671;
    --table-color:#000;
    --hover-effect-color:#474747;
    --input-background-color:#3f3f3f;

}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('../../Fonts/Noto_Kufi_Arabic/NotoKufiArabic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    src:url(../../Fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf)
}

body {
    font-family: 'Noto Sans', sans-serif !important;
}