

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
  }
  
  .popup {
    background-color: #E2DCC8; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup-content {
    margin-bottom: 20px;
  }
  
  .popup-button {
    padding: 10px 20px;
    background-color: #231F20; 
    color: #F2F1F1; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .popup-button:hover {
    background-color: #4A4743; 
  }
  
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
  }
  
  .popup {
    background-color: #E2DCC8; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    width: 400px;
    height: 450px;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .popup-button {
    padding: 10px 20px;
    background-color: #231F20; 
    color: #F2F1F1; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .popup-button:hover {
    background-color: #444; 
  }
  