.dashboard-container {
  position: absolute;
  top: 50px;
  left: 250px;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: #F2F1F1;
  overflow: auto;
  
}

.dashboard-title {
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card {
  /* width: calc(33.33% - 20px); */
  background-color: #E2DCC8;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 30px;
}

.card span {
  font-weight: bold;
  margin-top: 10px;
}
.card p {
  font-weight: bold;
  margin-top: 10px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-size: 55px;
  font-weight: bold;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 220px; 
  /* margin-top: 10px; */
}

.icon-1{
  width: 20px;
  height: 20px;
  margin-left: 230px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 200px;
  
}
.card:hover{
  box-shadow: none;
}
.dashboard-container.dark-mode {
  background-color: #231F20;
  color: #FFFFFF;
}

.dashboard-container.dark-mode .dashboard-title {
  color: #FFFFFF;
}

.dashboard-container.dark-mode .card {
  background-color: #000000;
  color: #FFFFFF;
}








