.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #E2DCC8;
    color: #231F20;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: #F2F1F1;
}

.dropdown-icon {
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
}

.dropdown-menu {
    position: absolute;
    background-color: #E2DCC8;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    min-width: 50px;
    max-width: 200px;
    top: calc(100% + 5px); 
}


.dropdown-item {
    padding: 0.5rem 1rem;
    color: #231F20;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #F2F1F1;
}
