.container {
  position: absolute;
  top: 50px;
  left: 250px;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: #F2F1F1;
  overflow: auto;
}

.search-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #E2DCC8;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  max-width: 700px;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.search-input {
  flex: 1;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
  width: 100%
}

.dark-mode .search-bar {
  background-color: #000000;
}

.dark-mode .search-input {
  color: #FFFFFF;
}

.C-card-grid {
  display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr)); 
    gap: 25px;
}

.C-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #e2dcc8;
  display: grid;
  margin-left: 30px;
  flex-direction: column;
}

.C-card-content {
  display: flex;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.C-Vehicle-info {
  font-weight: bold;
  color: #231f20;
}

.C-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.C-confirm-button {
  padding: 10px 20px;
  background-color: #231f20;
  color: #f2f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.C-confirm-button:hover {
  background-color: #000000; 
}

.C-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.C-popup-content {
  background-color: #E2DCC8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.C-popconfirm {
  background-color: #231f20; 
  color: #f2f1f1; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.C-popconfirm:hover {
  background-color: #000000;
}

.dark-mode.container {
  background-color: #231F20;
  color: #FFFFFF;
}

.dark-mode .search-bar {
  background-color: #000000;
}

.dark-mode .search-input {
  color: #FFFFFF;
}

.dark-mode .C-card {
  background-color: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.dark-mode .C-card p {
  color: #FFFFFF;
}

.dark-mode .C-confirm-button {
  background-color: #8C8671;
  color: #FFFFFF;
}

.dark-mode .C-confirm-button:hover {
  background-color: #6c6651;
}

.dark-mode .C-popup-content {
  background-color: #231F20;
}

.dark-mode .C-popconfirm {
  background-color: #8C8671;
  color: #FFFFFF;
}

.dark-mode .C-popconfirm:hover {
  background-color: #6c6651;
}

.C-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.C-popup-content {
  background-color: #E2DCC8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.C-popup-buttons {
  display: flex;
  justify-content: space-between;
}
.close-popup-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #E2DCC8; 
  color: #231F20;
  cursor: pointer;
}
.C-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.C-popup-content {
  font-family: '231F20', sans-serif; 
}

.C-popup-content p {
  font-size: 18px; 
  font-weight: bold; 
  margin-top: 10px;
}

.C-payment-options {
  margin-top: 20px;
}

.C-confirm {
  background-color: #231F20; 
  color: #F2F1F1; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: '231F20', sans-serif; 
  font-size: 16px; 
  font-weight: bold; 
  
}

.C-confirm:hover {
background-color: #000000;
}

.C-card-bottom .C-confirm-button {
    margin-top: 10px; 
}

.dark-mode {
  background: #231F20;
  color: #FFFFFF;
}

.dark-mode .C-icon{
  Filter: invert(1)
}

.dark-mode .C-popconfirm{
  background-color: #8C8671;
  }
  
  .dark-mode .C-popconfirm:hover{
    background-color: #6c6651;
    }

    .dark-mode .C-Vehicle-info {
  font-weight: bold;
  color: #ffffff;
}

.dark-mode .C-popup-content {
  background-color: #231F20;
}


.dark-mode .C-card p{
  color: #FFFFFF;
}

.dark-mode .C-card{
  background-color: #000000;
  border: #000000;
  color: #FFFFFF;
}
.dark-mode .C-confirm-button:hover {
  background-color: #6c6651;
}

.dark-mode .C-confirm-button {
  background-color: #8C8671;
  color: #FFFFFF;
}
.C-card:hover {
  box-shadow: none;
}
.dark-mode .C-icon{
  Filter: invert(1)
}
.payment-label{
 display: inline-block;
}
.payment-input{
  background-color: #E2DCC8;
  border-radius: 3px;
  border: 2px solid #231F20
}

.dark-mode .payment-input{
  background-color: #231F20;
  border-radius: 3px;
  border: 2px solid #ffffff
}
