.container {
    position: absolute;
    top: 50px;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: #F2F1F1;
    overflow: auto;
    
}

.container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #231F20;
    margin-top: 25px; 
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group .submitReport {
    padding: 10px 20px;
    background-color: #231F20;
    color: #F2F1F1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group .submitReport:hover {
    background-color: #333;
}
.container {
    background-color: #F2F1F1;
    padding: 20px;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #231F20;
    margin-top: 20px; 
}

.form-group {
    margin-top: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group textarea {
    width: 50%;
    height: 250px;
    padding: 10px;
    background-color: #F2F1F1;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group select {
    width: 15%; 
    padding: 10px;
    background-color: #E2DCC8; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitReport {
    padding: 10px 20px;
    background-color: #231F20;
    color: #F2F1F1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
}

.submitReport:hover {
    background-color: #333;
}

.dark-mode.container {
    background-color: #231F20;
}

.dark-mode .heading {
    color: #FFFFFF;
}
.dark-mode .form-group{
    border: #000000;
}
.dark-mode .form-group label {
    color: #FFFFFF;
}

.dark-mode textarea,
.dark-mode select {
    background-color: #231F20;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.dark-mode .submitReport {
    background-color: #8C8671;
    color: #FFFFFF;
}

.dark-mode .submitReport:hover {
    background-color: #6c6651; 
}

@media only screen and (max-width: 768px) {
    .container {
        left: 0;
        width: 100%;
    }
    
    textarea {
        width: 100%;
    }
    
    select {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .container h2 {
        font-size: 20px;
    }
}



