table {
    margin-top: 8rem;
    background-color: var(--table-color);
    width: 60%;
    padding: 0px;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; 

}
table h2 {
    margin-bottom: 0.8rem;
    }

table:hover {
box-shadow: none;
}
table thead{
height: 50px;
background-color: #E2DCC8;
}
table tbody tr {
border-bottom: 1px solid var(--font-color);
}

table tbody td {
height: 2.8rem;
color: var(--font-color);
}

table tbody td:last-child {
width: 2%;
}

table tbody tr:last-child td {
border: none;
}

table a {
text-align: center;
display: block;
margin: 1rem auto;
color: var(--font-color);
}

table tbody tr td {
transition: all 0.3s ease;
}

table tbody tr {
transition: all 0.3s ease;

}
.employee-details:hover {
background-color: var(--color-background);
}

.employee-details {
position: relative;
border-radius: var(--button-border-radius);
}

.expand-icon {
cursor: pointer;
}

.dropdown-menu {
position: absolute;
top: 100%;
left: -2vw;
display: flex;
flex-direction: column;
border-radius: var(--button-border-radius);
border: 1px solid #00000020;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
z-index: 1;
opacity: 0;
transform: scaleY(0);
transform-origin: top;
transition: all 0.3s ease-in-out;
}
.dropdown-menu button{
    background-color:#E2DCC8;
    border-radius: 1px;
}

.employee-details:hover .dropdown-menu,
.employee-details.active .dropdown-menu {
opacity: 1;
transform: scaleY(1);
}

.dropdown-menu hr {
border: 1px solid #00000020;
margin: 0 6.8px;
}
.dropdown-button {
padding: 8px;
text-align: left;
border: none;
background-color: transparent;
cursor: pointer;
border-radius: var(--button-border-radius);
}

.dropdown-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    }
    
.delete-confirmation {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
z-index: 1000;
display: flex;
flex-direction: column;
background-color: var(--secondary-color);
height: 15vh;
min-width: 455.25px;
width: 25vw;
}

.delete-confirmation .delete-title {
width: 100%;
height: 15%;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
background-color: var(--special-color1);
}

.delete-confirmation .delete-content {
padding: 20px;
display: flex;
height: 85%;
justify-content: space-between;
background-color: #E2DCC8;
}
.delete-confirmation img {
align-self: center;
height: 50%;
width: 10%;
transform: translateY(-16px);
}

.delete-confirmation p {
margin-bottom: 15px;
align-self: center;
}

.delete-confirmation button {
margin-right: 10px;
padding: 8px 12px;
background-color: transparent;
color: var(--high-light);
border: none;
border-radius: 3px;
cursor: pointer;
align-self: flex-end;
}

.delete-confirmation button:last-child {
color: var(--font-color);
}

.delete-confirmation button:hover {
cursor: pointer;
}
body.delete-modal-active {
overflow: hidden;
}

body.delete-modal-active::before {
content: '';
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(5px);
z-index: 999;
user-select: none;
}

.edit-modal {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
z-index: 1000;
display: flex;
flex-direction: column;
height: 50vh;
width: 25vw;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
transition: all 0.3s ease;
}
.edit-modal form,.add-title,button{
    background-color:#E2DCC8;
}
.delete-confirmation .border {
    width: 100%;
    height: 15%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color:black;
    }
.view-modal .modal-content{
    background-color:#E2DCC8;
}

