 table {
   margin-top: 1.3rem;
 }

 table h2 {
   margin-bottom: 0.8rem;
 }

 table {
   background-color: var(--table-color);
   width: 100%;
   padding: var(--card-padding);
   text-align: center;
   box-shadow: var(--box-shadow);
   border-radius: var(--card-border-radius);
   transition: all 0.3s ease;
   /* this is a table */
 }

 table:hover {
   box-shadow: none;
 }
table thead{
  height: 50px;
}
 table tbody tr {
   border-bottom: 1px solid var(--font-color);
 }

 table tbody td {
   height: 2.8rem;
   color: var(--font-color);
 }

 table tbody td:last-child {
   width: 2%;
 }

 table tbody tr:last-child td {
   border: none;
 }

 table a {
   text-align: center;
   display: block;
   margin: 1rem auto;
   color: var(--font-color);
 }

 table tbody tr td {
   transition: all 0.3s ease;
 }

 table tbody tr {
   transition: all 0.3s ease;

 }


 .employee-details:hover {
   background-color: var(--color-background);
 }

 /* for the dropdownnn */

 .employee-details {
   position: relative;
   border-radius: var(--button-border-radius);
 }
[theme = dark] .employee-details img{
  filter: invert(1)
}
 .expand-icon {
   cursor: pointer;
 }

 .dropdown-menu {
   position: absolute;
   top: 100%;
   left: -2vw;
   display: flex;
   flex-direction: column;
   background-color: var(--color-background);
   border-radius: var(--button-border-radius);
   border: 1px solid #00000020;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 1;
   opacity: 0;
   transform: scaleY(0);
   transform-origin: top;
   transition: all 0.3s ease-in-out;
 }

 .employee-details:hover .dropdown-menu,
 .employee-details.active .dropdown-menu {
   opacity: 1;
   transform: scaleY(1);
 }


 .dropdown-menu hr {
   border: 1px solid #00000020;
   margin: 0 6.8px;
 }


 .dropdown-button {
   padding: 8px;
   text-align: left;
   
   border: none;
   background-color: transparent;
   cursor: pointer;
   border-radius: var(--button-border-radius);
 }

[theme = dark]  .dropdown-button{
  color: var(--font-color);
}
 [theme = dark]  .dropdown-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

 .dropdown-button:hover {
   background-color: rgba(0, 0, 0, 0.1);
 }

 /* Styles for the delete model */
 .delete-confirmation {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   z-index: 1000;
   display: flex;
   flex-direction: column;
   background-color: var(--secondary-color);
   height: 15vh;
   min-width: 455.25px;
   width: 25vw;
 }

 .delete-confirmation .delete-title {
   width: 100%;
   height: 15%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   background-color: var(--special-color1);
 }

 .delete-confirmation .delete-content {
   padding: 20px;
   display: flex;
   height: 85%;
   justify-content: space-between;
 }

 .delete-confirmation img {
   align-self: center;
   height: 50%;
   width: 10%;
   transform: translateY(-16px);
 }
[theme = dark] .delete-confirmation img {
filter:invert(1)
}
 .delete-confirmation p {
   margin-bottom: 15px;
   align-self: center;
 }

 .delete-confirmation button {
   margin-right: 10px;
   padding: 8px 12px;
   background-color: transparent;
   color: var(--high-light);
   border: none;
   border-radius: 3px;
   cursor: pointer;
   align-self: flex-end;
 }

 .delete-confirmation button:last-child {
   color: var(--font-color);
 }

 .delete-confirmation button:hover {
   cursor: pointer;
 }

 /* Backdrop effect */
 body.delete-modal-active {
   overflow: hidden;
   /* Prevent scrolling when the modal is active */
 }

 body.delete-modal-active::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   z-index: 999;
   user-select: none;
 }

 /* styles for the edit model */

 .edit-modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   z-index: 1000;
   display: flex;
   flex-direction: column;
   background-color: var(--secondary-color);
   height: 50vh;
   width: 25vw;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   transition: all 0.3s ease;
 }

 [theme = dark]  .edit-modal {
  background-color: var(--color-background);
 }

 .edit-modal form {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   padding-bottom: 15px;

 }

 .edit-modal form label {
   display: flex;
   justify-content: center;
 }

 .edit-modal form input {
   width: 60%;
   align-self: center;
   height: 20px;
   padding: var(--card-padding);
   border-radius: 5px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   transition: all 0.5s ease;
 }
 [theme = dark]  .edit-modal form input {
  background-color: var(--table-color);
  color: var(--font-color);
 }

 .edit-modal form input:hover {
   box-shadow: none;
 }

 .edit-modal form select {
  width: 60%;
  align-self: center;
  height: 35px;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

[theme = dark]  .edit-modal form select {
  background-color: var(--table-color);
  color: var(--font-color);
}

.edit-modal form select:hover {
  box-shadow: none;
}

.edit-modal form select option {
  width: 60%;
  align-self: center;
  height: 20px;
  padding: var(--card-padding);
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

[theme = dark] .edit-modal form select option:hover {
  background-color: var(--color-background);
}

 .edit-modal form button {
   min-width: 50px;
   width: 7vw;
   min-height: max-content;
   height: 40px;
   border-radius: var(--button-border-radius);
   background-color: #000;
   color: var(--secondary-color);
   transition: all 0.3s ease;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }
 
[theme = dark]  .edit-modal form button{
  background-color: var(--special-color1);
  color: var(--font-color);
}
 .edit-modal form button:hover {
   box-shadow: none;
 }

 .edit-modal form .edit-model-buttons {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   cursor: pointer;
 }

 body.Edit-modal-active::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   z-index: 999;
   user-select: none;
 }

 /* view */

 .view-modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   z-index: 1000;
   display: flex;
   flex-direction: column;
   background-color: var(--secondary-color);
   height: 30vh;
   width: 25vw;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   transition: all 0.3s ease;
  }

 .view-modal .view-title {
   width: 100%;
   height: 8%;
   background-color: var(--special-color1);
 }

 .view-modal .modal-content {
   padding: var(--card-padding);
   height: 92%;

 }

 .view-modal .modal-main {
   display: flex;
   height: 30%;
 }
 .view-modal .modal-main .name{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

 .view-modal hr {
   border: 1px solid #00000080;
   margin: 0 6.8px;
 }
 .view-modal .modal-details{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  justify-content: space-evenly;
 }
 .view-modal .modal-details button{
  min-width: 50px;
  width: 5vw;
  min-height: max-content;
  height: 30px;
  justify-self: end;
  align-self: flex-end;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--font-color);
  box-shadow: var(--box-shadow);
  transition:all 0.3s ease;
 }
 .view-modal .modal-details button:hover{
  box-shadow: none;
 }
 body.view-modal-active::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   z-index: 999;
   user-select: none;
 }
 