.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
.close-icon{
    height: 30px;
    width: 30px;
    float: right;
    padding-top: 0px;
    cursor: pointer;
}

.popup-inner {
    background-color: #E2DCC8; 
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    width: 300px; 
    max-width: 80%; 
    text-align: center;
    position: relative; 
}

.popup h2 {
    font-weight: bold; 
    margin-top: 30px;
}

.popup button.close-icon {
    position: absolute;
    top: 10px;
    left: 10px; 
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.popup button.close-icon::before,
.popup button.close-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #231F20; 
    transform-origin: center;
}
.popup button {
    padding: 10px 30px; 
    background-color: #231F20; 
    color: #F2F1F1; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px; 
}

.popup button:focus {
    outline: none;
}

.popup-inner form {
    margin-top: 10px;
    padding: 20px;
}

input {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 4px; 
    border: none;
    border-radius: 5px;
    width: calc(100% - 15px); 
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/*dark Mode*/
.dark-mode .popup{
    background-color: #000000;
    color: #e0e0e0;
}
.dark-mode-inner.popup-inner{
    background-color: #231F20;
}

.dark-mode input {
    background-color: #3a3a3a;
    color: #e0e0e0;
}

.dark-mode hr {
    border-color: #e0e0e0;
}

.dark-submit button {
    background-color: #4CAF50;
    color: #e0e0e0;
}
