.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
.close-icon{
    height: 30px;
    width: 30px;
    float: right;
    padding-top: 0px;
    cursor: pointer;
}

.popup-inner {
    background-color: #E2DCC8; 
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    width: 300px; 
    max-width: 80%; 
    text-align: center;
    position: relative; 
}

.popup h2 {
    font-weight: bold; 
    margin-top: 30px;
}

.popup button.close-icon {
    position: absolute;
    top: 10px;
    left: 10px; 
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
.popup-inner select{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 4px; 
    border: none;
    border-radius: 5px;
    width: calc(100% - 15px); 
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    margin-bottom: 15px;
}

.popup button.close-icon::before,
.popup button.close-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #231F20; 
    transform-origin: center;
}
.popup button {
    padding: 10px 30px; 
    background-color: #231F20; 
    color: #F2F1F1; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px; 
}

.popup button:focus {
    outline: none;
}

.popup-inner form {
    margin-top: 10px;
    padding: 20px;
}

.popup input {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 4px; 
    border: none;
    border-radius: 5px;
    width: calc(100% - 15px); 
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    margin-bottom: 15px;
}

.popup input:focus {
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.popup span{
    color: #b32f2f;
    font-size: 14px;
    position: relative;
    bottom:12px;
}
.centeredButton {
    margin: 0 auto; /* This will center the button horizontally */
    display: block; /* This will make the button a block element, allowing margin: auto to center it horizontally */
}

/*dark Mode*/
.dark-mode .popup{
    background-color: #000000;
    color: #e0e0e0;
}
.dark-mode .popup-inner {
    background-color:#000000;
    box-shadow: 0px 8px 8px rgba(85, 77, 77, 0.2);
}
.dark-mode input {
    background-color: #231F20;
    color: #e0e0e0;
}
.dark-mode .submit{
    background-color:#8C8671;
}

