:root {
    --primary-color: #E2DCC8;
    --second-color: #F2F1F1;
    --font-colour: #231F20;
    --button-border-radius: 5px;
    --technical-box-shadow: 0px 4px 4px 0px ;
    --table-color: #FFFFFF;
    --high-light: #ED7F16;
}
body {
    background-color: var(--second-color);
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size:16px;
    
}
html {
    height: 100%;
}

.component-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 180px;
    margin-left: 182px;
    max-height:49vh;
    max-width: 87%;
}
.component-body::-webkit-scrollbar {
    width: 8px;
}
.component-body::-webkit-scrollbar-track {
    background-color:var(--primary-color);
    border-radius: 15px; 
    margin: 5px 0; 
}

.table-content {
    margin-top: 4rem;
    background-color: var(--table-color);
    width: 79%;
    padding: 0px;
    text-align: center;
    box-shadow: var(--technical-box-shadow);
    border-radius: var(--button-border-radius);
    transition: all 0.3s ease;
    margin-left: 220px;
    margin-right: auto;
    border-collapse: collapse; 
}

.table-content h2 {
    margin-bottom: 0.8rem;
}

.table-content:hover {
    box-shadow: none;
}

.table-content thead {
    height: 50px;
    background-color: var(--primary-color);
}

.table-content tbody tr {
    border-bottom: 0px solid var(--font-colour);
}

.table-content tbody td {
    height: 2.8rem;
    color: var(--font-colour);
    border: 0px solid var(--font-colour); 
}

.table-content tbody td:last-child {
    width: 2%;
}

.table-content tbody tr:last-child td {
    border: none;
}

.table-content a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--font-colour);
}

.table-content tbody tr td {
    transition: all 0.3s ease;
}

.table-content tbody tr {
    transition: all 0.3s ease;
}


.details-dropdown {
    position: relative;
    border-radius: var(--button-border-radius);
}

.expand-icon {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -2vw;
    display: flex;
    flex-direction: column;
    border-radius: var(--button-border-radius);
    border: 1px solid #00000020;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    background-color:var(--second-color);
    height:110px;
}
.dropdown-menu button{
    background-color:var(--primary-color);
    border-radius: 1px;
    height:100%;
    margin-top: 0px;    
    color: #000000;
}

.details-dropdown:hover .dropdown-menu,
.details-dropdown.active .dropdown-menu {
    opacity: 1;
    transform: scaleY(1);
}
.dropdown-menu hr {
    border: 1px solid #0000002a;
    margin: 0 1px;
}
.dropdown-button {
    padding: 5px;
    text-align:left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: var(--button-border-radius);
}
.dropdown-button:hover {
    background-color: rgba(0, 0, 0, 0.205);
}
/*delete*/
.delete-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    height: 15vh;
    min-width: 454.25px;
    width: 25vw;
}
.delete-confirmation .delete-content {
    padding: 20px;
    display: flex;
    height: 90%;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.delete-confirmation p {
    margin-bottom: 20px;
    align-self: flex-start;
}

.delete-confirmation button{
    margin-left: 2px;
    padding: 0px 1px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
    font-weight: bolder;
    
}
.delete-confirmation .border {
    width: 100%;
    height: 15%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: var(--font-colour);
}
.button1:hover{
    background-color:#E2DCC8;
}
.button2:hover{
    background-color:#E2DCC8;
}
.delete-confirmation .button1 {
    color: var(--high-light);
}
.delete-confirmation button:last-child {
    color: var(--font-colour);
}
body.delete-modal-active {
    overflow:hidden;
}

body.delete-modal-active::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    user-select: none;
}

/*edit*/
.edit-modal {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 23vw;
    height: 340;
    border-radius: 20px;
    box-shadow: var(--technical-box-shadow);
    transition: all 0.3s ease;
    text-align: center;
    font-weight: bold;
}
.edit-modal label{
    font-size: 20px;
}
.edit-modal .but{
    float: right;
    padding: 8px;
    margin-top: 0px;
    margin-right: 0px;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
}
.edit-modal .add-title .edit-model-buttons{
    position: absolute;
}
.edit-modal .edit-model-buttons button{
    background-color:#231F20;
    color: #F2F1F1;
    padding: 10px 25px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 5px;
}
.edit-modal form {
    margin-top: 0px;
    padding: 40px;
    height: 100%;
    border-radius: 15px;
    background-color: var(--primary-color);
}
.edit-modal form input{
    margin-bottom:3px;
    margin-top: 15px;
}
.component-body span{
    color: red;
    font-size: 14px;
    font-weight: lighter;
}
/*view*/
.view-modal {
    position: fixed;
    top: 50%;
    left: 55%;
    background-color:#231F20;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width:30%;
    height: 35%;
    transition: all 0.3s ease;
}
.view-title{
    background-color:#8C8671;
    height: 20px;
}
.view-modal .modal-content {
    background-color:#E2DCC8;
    width: 100%;
    height: 100%;
    padding: 19.2px;
    border-radius: 0px 0px 10px 10px ;
}
.view-modal .modal-main {
        display: flex;
}
.info label{
    display: block;
    margin-top: 8px;
    color:#231F20;
    font-size: 15px;
    font-family: sans-serif;

}
.modal-main .info hr{
    border: 1px solid #00000080;
    margin: 0 6.8px;
    margin-top: 8px;
}
.modal-content .modal-details{
    margin-top: 20px;
    margin-left: 290px;
}
.view-modal .modal-content button{
    background-color: #231F20;
    color:#E2DCC8;
    padding: 8px 23px;
    font-weight: bold;
    border-radius: 0px;
    font-size: 13.3333px;
    margin-left: 300px;
    margin-top: 20px;
}
/*view Garage*/
.view-Content{
    position: fixed;
    top: 50%;
    left: 55%;
    background-color:#231F20;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width:30%;
    height:45%;
    transition: all 0.3s ease;
}
.view-Content .modal-content {
    background-color:#E2DCC8;
    width: 100%;
    height: 100%;
    padding:10px 25px;
    border-radius: 0px 0px 10px 10px ;
}
.view-Content .modal-content button{
    background-color: #231F20;
    color:#E2DCC8;
    padding: 8px 23px;
    font-weight: bold;
    border-radius: 0px;
    font-size: 13.3333px;
}


/* Dark Mode */
.dark-mode .table-content {
    background-color: #000000;
    color: #F2F1F1;
}

.dark-mode thead {
    background-color: #8C8671;
}

.dark-mode .employee-details .dropdown-menu .dropdown-button {
    background-color: #000000;
    color: #F2F1F1;
}

.dark-mode .delete-confirmation .delete-content {
    background-color: #000000;
    color: #F2F1F1;
}

.dark-mode .delete-confirmation .delete-content p {
    color: #F2F1F1;
}

.dark-mode .delete-confirmation .border {
    background-color: #8C8671;
}

.dark-mode .delete-confirmation .button1 {
    color: #ED7F16;
    background-color: #000000;
}

.dark-mode .view-title {
    background-color: #231F20;
}

.dark-mode .modal-content {
    background-color: #000000;
    color: #F2F1F1;
    border-radius: 10px;
}

.dark-mode .modal-content .name b {
    color: #F2F1F1;
}

.dark-mode .edit-modal form {
    background-color: #000000;
    color: #F2F1F1;
}

.dark-mode .edit-modal form input {
    background-color: #231F20;
}

.dark-mode .edit-modal form button {
    background-color: #8C8671;
}

.dark-mode .edit-modal .add-title {
    background-color: #000000;
}

.dark-mode .icon-close {
    background-color: white;
}

.dark-mode .add-title .but {
    background-color: #000000;
}

.dark-mode body {
    background-color: #231F20;
}

.dark-mode .name {
    color: #ED7F16;
}

.dark-mode.component-body{
    background-color: #231F20;
}
.but img{
    width: 30px;
    height: 40px;
}
.dark-mode .but img{
    width: 30px;
    height: 40px;
    background-color:#000000;
    color:white;
}
.dark-mode .delete-content .button2{
    color: #FFFFFF;
    background-color: #000000;
}
.dark-mode input{
    color: #FFFFFF;
}
.dark-mode .table-content tbody td{
    color: #FFFFFF;
}
.dark-mode .dropdown-menu  button{
    background-color: #000000;
    color: #FFFFFF;
}
.dark-mode .dropdown-menu hr{
    background-color: #231F20;
}
.dark-mode .dropdown-menu{
    background-color: #231F20;
}
.dark-mode.component-body::-webkit-scrollbar-track {
    background-color:#000000;
    border-radius: 15px; 
    margin: 5px 0; 
}



