  .addReportModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    font-family: inherit;
    border-radius: .7rem;
    background-color: var(--secondary-color);
    height: auto;
    min-width: 420px;
    width: 25vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
  }

  [theme=dark] .addReportModal {
    background-color: var(--color-background);
  }

  .addReportModal h2 {
    text-align: center;
    margin: 10px auto;
  }

  .addReportModal hr {
    width: 300px;
    border: 1px solid black;
    margin: 0px auto 15px;
  }

  [theme=dark] .addReportModal hr {
    border: 1px solid #8c8671;
  }

  .addReportModal .addTitle {
    width: 100%;
    height: 40px;
    min-height: 40px;
    background-color: var(--special-color1);
  }

  .addReportModal .addTitle button {
    width: 30px;
    height: 30px;
    margin: 7px;
    padding: 3px;
    background-image: url("../assets/light-mode/Close-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;

  }
  
  .addReportModal form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 10px;
    padding-bottom: 15px;

  }

  .addReportModal form label {
    display: flex;
    justify-content: center;
  }


  .addReportModal form input {
    width: 100%;
    height: 347px;
    max-height: 350px;
    max-width: calc(100% - 20px) !important;
    align-self: center;
    font-family: inherit;
    margin-top: 10px;
    height: 20px;
    padding: var(--card-padding);
    border-radius: 5px;
    border: 1px solid var(--special-color1);
    transition: all 0.2s ease-in-out;
    background-color: var(--input-background-color);
    color: var(--font-color);
  }

  .addReportModal form input:hover {
    border: 1px solid rgba(105, 105, 105, 0.671);
  }

  .addReportModal form textarea {
    width: 100%;
    height: 347px;
    max-height: 350px;
    max-width: calc(100% - 20px) !important;
    align-self: center;
    font-family: inherit;
    margin-top: 10px;
    height: 20px;
    padding: var(--card-padding);
    border-radius: 5px;
    border: 1px solid var(--special-color1);
    transition: all 0.2s ease-in-out;
    background-color: var(--input-background-color);
    color: var(--font-color);
  }

  .addReportModal form textarea::-webkit-scrollbar {
    width: 12px;
    background-color: #dfd4b0;
    border-radius: 10px;
  }

  .addReportModal form textarea::-webkit-scrollbar-thumb {
    background-color: #F2F1F1;
    border-radius: 10px;
    border: 3px solid #dfd4b0;
  }

  .addReportModal form textarea::-webkit-scrollbar-button {
    display: none;
  }

  [theme = dark] .addReportModal form textarea::-webkit-scrollbar {
    width: 12px;
    background-color: #231F20;
    border-radius: 10px;
  }

 [theme = dark] .addReportModal form textarea::-webkit-scrollbar-thumb {
    background-color: #8C8671;
    border-radius: 10px;
    border: 3px solid #231F20;
  }

  [theme = dark] .addReportModal form textarea::-webkit-scrollbar-button {
    display: none;
  }


  .addReportModal form textarea:hover {
    border: 1px solid rgba(105, 105, 105, 0.671);
  }

  .addReportModal form button {
    min-width: 50px;
    width: 90px;
    min-height: max-content;
    height: 40px;
    border-radius: var(--button-border-radius);
    background-color: #000;
    font-family: inherit;
    color: var(--secondary-color);
    transition: all 0.3s ease;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin: 5px;
  }


  [theme=dark] .addReportModal form button {
    background-color: var(--special-color1);
    color: var(--color-background);
  }

  .addReportModal form button:hover {
    box-shadow: none;
    background-color: #000;
  }



  .addReportModal form .addModelButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 24px;
  }


  body.addModalActive::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 999;
    -webkit-user-select: none;
    user-select: none;
  }

  .addReportModal .errorMessage {
    color: #b32f2f;
    align-self: baseline;
    margin: 2px;
    margin-left: 12px;

  }