@import "./System-admin/Styles/main.css";

.loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

}

.loginContainer {
  display: flex;
  background-color: var(--color-background);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.loginContainer .Logo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loginContainer .Logo img {
  width: 450px;
}

[theme=dark] .loginContainer .Logo img {
  width: 450px;
}

.loginContainer .Logo p {
  font-size: large;
  font-weight: 500;
  color: var(--font-color);
  filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.6));
  letter-spacing: 1px;
}

.loginContainer .rightSide {
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginContainer .App {
  border: 1px solid rgb(105, 105, 105);
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  height: 100%;
  width: 80%;
  max-width: 550px;
}

.loginContainer h1 {
  color: var(--font-color);
}

.loginContainer form {
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.loginContainer input {
  width: 100%;
  height: 347px;
  max-height: 350px;
  max-width: calc(100% - 20px) !important;
  align-self: center;
  font-family: inherit;
  margin-top: 10px;
  height: 20px;
  padding: var(--card-padding);
  border-radius: 5px;
  border: 1px solid var(--special-color1);
  transition: all 0.2s ease-in-out;
  background-color: var(--input-background-color);
  color: var(--font-color);
}

.loginContainer .loginFormButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

.loginContainer input:hover {
  box-shadow: none;
  border: 1px solid rgba(105, 105, 105, 0.425);
}

.loginContainer button {
  min-width: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: #231F20;
  color: white;
  font-weight: bolder;
  width: 100px;
  display: flex;
  margin: 13px;
  text-align: center;
  color: var(--secondary-color);
  border-radius: var(--button-border-radius);
  border: 2px solid rgb(107, 107, 107);
  cursor: pointer;
}



[theme=dark] .loginContainer button {
  background-color: var(--special-color1);
  color: var(--color-background);
}

.loginContainer button:hover {
  box-shadow: none;
  background-color: #231f20;
}


.loginContainer a {
  margin-left: 190px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
}

.loginContainer .error {
  font-size: 14px;
  margin: 5px;
  margin-left: 15px;
  color: #b32f2f;
  align-self: baseline;
  cursor: pointer;
}

.resetContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resetContainer .resetContent {
  width: 50%;
  height: 50%;
  background-color: #f2f2f1;
  border: 1px solid #8C8671;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;

}

.resetContainer .resetContent form {
  width: 50%;
  height: 50%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.resetContainer .resetContent input {
  width: 70%;
  margin: 10px;
  align-self: center;
  font-family: inherit;
  height: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #8C8671;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #000;
}

.resetContainer .resetContent input:hover {
  border: 1px solid rgba(105, 105, 105, 0.425);

}

.resetContainer .resetContent button {
  margin: 5px;
  width: 100px;
  border-radius: 5px;
  align-self: center;
  padding: 10px;
  border: 1px solid #8C8671;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
  background-color: #231F20
}

.resetContainer .resetContent button:hover {
  border: 1px solid rgba(105, 105, 105, 0.425);

}

.resetContainer .error {
  font-size: 14px;
  margin: 5px;
  margin-left: 15px;
  color: #b32f2f;
  align-self: baseline;
  cursor: pointer;
}