.loginContainer {
  background-color: #F2F1F1;
}

.loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.loginContainer .Logo {
  text-align: center;
  width: 33%;
  margin-left: 110px;
  margin-top: 50px;
}

.loginContainer .Logo img {
  width: 450px;
}

.loginContainer .Logo p {
  font-style: italic;
  font-size: large;
  font-weight: 500;
}

.loginContainer .App {
  text-align: center;
  margin-right: 90px;
  margin-top: 122px;
  background-color: #E2DCC8;
  width: 38%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer h1 {
  margin: 40px 0;
  color: #231F20;
}

.loginContainer input {
  margin: 13px;
  padding: 5px;
  width: 80%;
  background-color: #F2F1F1;
  border-radius: 5px;
  border-color: #000000;
}

.loginContainer button {
  margin: 35px;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #231F20;
  color: white;
  font-weight: bolder;
  display: block; 
}

.loginContainer a {
  margin-left: 190px;
  text-decoration: none;
  color: #231F20;
  font-weight: bold;
}